<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
   <%- include('navbar') %>
  <div class="flex min-h-screen">
    
    
    <aside class="w-80 bg-white shadow-md px-6 py-8">
      <h2 class="text-center bg-blue-500 text-white text-xl font-semibold mb-6 text-700">Admin Panel</h2>
      
      <div class=" text-center mb-8">
        <p class="text-xl font-bold text-gray-800">Welcome,</p>
       
        <p class="text-xl font-bold text-gray-800"><%= user?.email %></p>
      </div>

      <nav class="flex flex-col gap-4">
       
        <a href="" class="bg-blue-500  text-white py-2 px-4 rounded hover:bg-blue-700"> Manage Books</a>
        <a href="" class="bg-blue-500  text-white py-2 px-4 rounded hover:bg-blue-700"> View Orders</a>
        <a href="/logout" class="bg-blue-500  text-white py-2 px-4 rounded hover:bg-blue-700"> Logout</a>
      </nav>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 p-8">
      <h1 class="text-center text-2xl font-bold mb-6">Welcome to admin dashboard</h1>
    </main>
  </div>
</body>
</html>
